.leaf {
	transition: all ease-in 500ms;
    transform: scale(1, 1);
    transform-origin: center;
	&.start {
		transform: scale(0, 0);
	}
}

.seasonChanger {
	position: absolute;
	top: 1em;
	left: 1em;
}

@keyframes fadeIn {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}